.book-item-main{
    min-width: 200px !important;
    min-height: 300px;
}

.book-item img{
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.book-item{
    padding: 6% !important;
    display: flex;
    flex-direction: column;
}

.book-item-title{
    font-size: 0.9rem;
    font-weight: 500;
}

.book-item-author{
    font-size: 0.8rem;
}

.book-item-pages{
    font-size: 0.7rem;
}