.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 10px;
    height: 50vh;
    width: 80%;
    overflow: auto;
}

.group-wrapper {
    margin-bottom: 25px;
}

.group-content {
    height: 100%;
    display: flex;
    gap: 30px;
}